main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.card-image {
  max-height: 240px;
  max-width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rating span {
  margin: 0 0.1rem;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
